.inputtext {
    display: block;
    margin: 5px;
}

form {
    border: 1px green solid;
    width: 175px;
    padding: 5px;
}
.form__border_red {
    border: 3px red solid;
}
._get{
    display: none;
}