.battery {
    background-image: url('../calc-battery.png');
    height: 20px;
    border:2px solid black;
    margin-bottom: 10px;
}

.battery:hover::after {
    content: attr(data-title);
    width: 100%;
    display: inline-block;
    margin-left: 240px;
    border: 1px solid #bdbaba;
    color: #595858;
    background-color: white;
}

.btn__wrapper {
    display: inline-block;
    margin: 10px 0;
    width: 87px;
}

.myform {
    width: 200px;
    background-color: #282121;
    border: 2px solid gray;
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -100px;
    border-radius: 15px;
    overflow: hidden;
}

.title {
    text-align: center;
}

button:hover {
    background-color: #8484b5;
    color: white;
}
